
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yap</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    <input class="form-control" type="text" name="urunAd" />
                    <br />
                    <label>Ürün Markası</label>
                    <input class="form-control" type="text" name="marka" />
                    <br />
                    <label>Müşteri Adı</label>
                    <input class="form-control" type="text" name="musteriAd" />
                    <br />
                    <label>Müşteri Telefonu</label>
                    <input class="form-control" type="text" name="musteriTelefon" />
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>
